@font-face {
  font-family: "irancell-bold";
  src: url("src/fonts/IranSans-Bold.ttf"); /* IE9 Compat Modes */
  src: local("irancell-bold"), local("irancell-bold"),
    url("src/fonts/IranSans-Bold.ttf") format("embedded-opentype"),
    /* IE6-IE8 */ url("src/fonts/IranSans-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("src/fonts/IranSans-Bold.woff2")
      format("woff2"),
    /* Modern Browsers */ url("src/fonts/IranSans-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "irancell-regular";
  src: url("src/fonts/IranSans-Regular.ttf"); /* IE9 Compat Modes */
  src: local("irancell-regular"), local("irancell-regular"),
    url("src/fonts/IranSans-Regular.ttf") format("embedded-opentype"),
    /* IE6-IE8 */ url("src/fonts/IranSans-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("src/fonts/IranSans-Regular.woff2")
      format("woff2"),
    /* Modern Browsers */ url("src/fonts/IranSans-Regular.ttf")
      format("truetype");
  /* Safari, Android, iOS */
}

.step-progress-bar {
  width: 100%;
  direction: ltr;
  padding: 0px !important;
}

.step-btn-container {
  padding: 0px 16px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-table::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-table {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* input[type="file"] {
  display: none;
} */

ol.progtrckr {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
  position: relative;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #3183cf;
  position: relative;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
  position: relative;
}

ol.progtrckr li:before {
  position: absolute;
  bottom: -16px;
  float: left;
  left: 50%;
  transform: translate(-45%, 0px);
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: silver;
  width: 30px;
  height: 30px;
  line-height: 32px;
  border-radius: 999px;
}

ol.progtrckr li.progtrckr-doing:before {
  content: attr(value);
  color: white;
  background-color: #3182ce;
  width: 30px;
  height: 30px;
  line-height: 32px;
  border-radius: 999px;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 30px;
  height: 30px;
  line-height: 32px;
  border-radius: 999px;
}

.footer-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1104%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(37%2c 37%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c380.976C70.192%2c371.745%2c131.406%2c335.3%2c189.275%2c294.517C245.03%2c255.225%2c298.589%2c211.334%2c328.025%2c149.804C357.762%2c87.646%2c355.875%2c17.914%2c354.561%2c-50.978C353.077%2c-128.823%2c359.498%2c-210.153%2c319.884%2c-277.181C276.85%2c-349.995%2c207.842%2c-407.862%2c127.685%2c-434.856C46.038%2c-462.352%2c-44.7%2c-457.252%2c-125.421%2c-427.145C-203.138%2c-398.158%2c-269.884%2c-341.923%2c-312.416%2c-270.71C-351.42%2c-205.403%2c-349.076%2c-126.442%2c-350.439%2c-50.386C-351.651%2c17.251%2c-340.273%2c81.583%2c-319.883%2c146.085C-296.888%2c218.829%2c-285.717%2c303.743%2c-224.223%2c348.898C-162.108%2c394.509%2c-76.405%2c391.024%2c0%2c380.976' fill='%231e1e1e'%3e%3c/path%3e%3cpath d='M1440 1106.644C1542.741 1117.126 1633.1100000000001 1050.121 1726.0720000000001 1005.136 1831.8890000000001 953.931 1972.38 932.364 2021.173 825.413 2069.967 718.46 2004.232 595.005 1963.488 484.734 1929.455 392.626 1864.815 321.497 1805.944 242.90800000000002 1742.025 157.57999999999998 1699.417 50 1603.288 3.893000000000029 1501.415-44.96900000000005 1376.47-55.523000000000025 1271.646-13.361999999999966 1169.6309999999999 27.668999999999983 1130.743 146.84699999999998 1053.441 225.04500000000002 968.923 310.543 817.602 349.129 796.34 467.456 775.173 585.251 877.794 689.4159999999999 953.315 782.262 1015.488 858.697 1107.147 895.711 1189.133 950.356 1272.809 1006.127 1339.96 1096.438 1440 1106.644' fill='%232c2c2c'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1104'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.custom-form {
  width: 100%;
}

.error-input {
  border: 2px solid red
}








.App {
  font-family: sans-serif;
  text-align: center;
}

#logo {
  max-height: 500px;
  margin-top: 20px;
}

body {
  background: #010916;
  color: #fff;
}

#logo {
  height: 120px;
}

button {
  height: 60px;
  width: 300px;
  font-size: 22px;
  background-color: #101a2c;
  border: 1px solid #4b5763;
  color: #b0b1b3;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 4px;
}

#doc-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}
